@model List<AboutMe>

@{
    ViewData["Title"] = "AboutMeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex flex-column justify-content-evenly align-items-center">
    <h2 class="text-secondary my-3">Hakkımda Yönetimi</h2>
    <div class="table-responsive w-100">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Home Id</th>
                    <th class="text-center" scope="col">Sil</th>
                    <th class="text-center" scope="col">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                <td>Henüz hakkımda eklenmedi!</td>
                }
                else
                {
                    foreach (var aboutMe in Model)
                    {
                    <tr>
                        <th scope="row">@aboutMe.Id</th>
                        <td>@aboutMe.Description</td>
                        <td>@aboutMe.HomeId</td>
                        <td class="text-center">
                            <a asp-controller="Admin" asp-action="DeleteAboutMe" asp-route-id="@aboutMe.Id" onclick="return confirm('Hakkımdayı silmek istediğinize emin misiniz?')" class="btn btn-outline-danger">Sil</a>
                        </td>
                        <td class="text-center">
                            <a asp-controller="Admin" asp-action="UpdateAboutMe" asp-route-id="@aboutMe.Id" class="btn btn-outline-success">Güncelle</a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <a asp-controller="Admin" asp-action="AddAboutMe" class="btn btn-primary text-light mt-2">Yeni Özet Ekle</a>
</div>


