@model AboutMe

<div id="about">
    <div class="container">
        <div class="row">
            <div class="aboutCol1">
                <img src="images/user.JPG" />
            </div>
            <div class="aboutCol2">
                <h1 class="subTitle">Hakkımda</h1>
                <p>@Model.Description</p>
                <div class="tabTitle">
                    <p class="tabLinks activeLink" onclick="OpenTab('skills')">Yetenekler</p>
                    <p class="tabLinks" onclick="OpenTab('experience')">Tecrübeler</p>
                    <p class="tabLinks" onclick="OpenTab('education')">Eğitim</p>
                </div>
                <div class="tabContents activeTab" id="skills">
                    <ul>
                        @{
                            foreach (var skill in Model.Skills)
                            {
                                <li class="d-flex flex-column gap-2">
                                    <h6 class="fw-bold text-light">@skill.Title</h6>
                                    <p>@skill.Description</p>
                                    <div class="progress w-75" role="progressbar" aria-valuenow="@skill.Rate" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar" style="width: @skill.Rate%">@skill.Rate%</div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="tabContents" id="experience">
                    <ul>
                        @{
                            foreach (var experience in Model.Experiences)
                            {
                                <li class="d-flex flex-column gap-2">
                                    <span class="fw-bold">@($"{experience.JobStartDate.Month:00}.{experience.JobStartDate.Year}" + "-" + (experience.StillWorking ? "Current" : ($"{experience.JobEndDate.Value.Month:00}.{experience.JobEndDate.Value.Year}")))</span>
                                    <h6 class="fw-bold text-light">@experience.Title</h6>
                                    <p>@experience.Description</p>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="tabContents" id="education">
                    <ul>
                        @{
                            foreach (var education in Model.Educations)
                            {
                                <li class="d-flex flex-column gap-2">
                                    <span class="fw-bold">@($"{education.StartDate.Month:00}.{education.StartDate.Year}" + "-" + $"{education.EndDate.Month:00}.{education.EndDate.Year}")</span>
                                    <h6 class="fw-bold text-light">@education.Title</h6>
                                    <p>@education.SchoolName</p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
